* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
     background: radial-gradient(
        circle at center,
        #1a1a1a 0%,
        #0e0e0e 70%
    );
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.08) translateY(-6px);
    transform: scale(1.08);
}

.app-title {
    color: #ffffff;
    margin-bottom: 16px;
    font-size: 26px;
    letter-spacing: 1px;
}

.calculator-container {
    background: #1e1e1e;
    padding: 16px 18px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.6s ease-in-out;
    
}

.display {
    width: calc(4 * 50px + 3 * 8px);
    height: 50px;
    font-size: 22px;
    text-align: right;
    padding: 10px;
    margin: 0 auto 14px;
    border: none;
    border-radius: 6px;
    background: #2a2a2a;
    color: #ffffff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    column-gap: 8px;
    row-gap: 6px;
    justify-content: center;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background: #333333;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 0.2s, box-shadow 0.2s, transform 0.05s;
}

button:active {
    transform: scale(0.95);
}

.operator {
    background: #f89f1a;
    color: #000000;
}

.operator:hover {
    background: #fc9700;
    box-shadow: 0 0 6px rgba(248, 159, 26, 0.7);
}

.backspace {
    background: #555555;
}

.backspace:hover {
    background: #666666;
}

.clear {
    background: #b00020;
}

.clear:hover {
    background: #cf6679;
}

.equal {
    background: #ffffff;
    color: #000000;
}

.equal:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.90);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
